@import "src/components/shared/MinusButton.module";

.verticalRect {
    position: absolute;
    height: 28px;
    width: 6px;
    background-color: black;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
