.page {
  position: absolute;
  margin-top: -225px;
  margin-left: -175px;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image {
    width: 320px;
    height: 400px;
    flex-shrink: 0;

    background: url("../../data/img/finish.png") center/100% 100% no-repeat;
  }

  .title {
    flex-shrink: 0;

    font-weight: 700;
    font-size: 40px;
    color: #2B3172;
  }
}