.page {
  position: absolute;
  margin-top: -50px;
  margin-left: -350px;
  top: 50%;
  left: 50%;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  font-weight: 900;
  color: #371548;
  font-size: 35px;
  .leftPart {

  }
  .rightPart {

  }
  .tilde {
    width: 60px;
    height: 30px;
    flex-shrink: 0;

    background: url("../../data/img/tilde.png") center/100% 100% no-repeat;
  }
}