.header {
  width: 100%;
  margin-bottom: 50px;

  padding-top: 30px;

  .header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .title {
      text-align: center;
      font-weight: 700;
      font-style: normal;
      font-size: 48.25px;
      line-height: 56.54px;
      color: #2B3172;
    }
    .noneTitle {
      visibility: hidden;
    }
    .image {
      width: 200px;
      height: 80px;
      flex-shrink: 0;

      background: url("../data/img/logo.png") center/100% 100% no-repeat;
    }
  }
}