.switcher {
  width: 200px;
  height: 80px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-weight: 700;
    color: #371548;
    font-size: 30px;
    margin-right: 10px;
  }
  select {
    font-weight: 700;
    font-size: 15px;
    color: black;

    display: inline-block;
    white-space: pre;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    background-color: #FFFFFF;
    cursor: default;
    border-width: 3px;
    border-radius: 5px;
  }
}